altair>=5.0.0
appnope==0.1.4
asttokens==3.0.1
attrs 
blinker 
Bottleneck 
breadability==0.1.20
brotlicffi 
cachetools 
certifi 
cffi 
chardet==7.4.2
charset-normalizer 
click 
comm==0.2.3
contourpy 
cycler 
Cython 
debugpy==1.8.20
decorator==5.2.1
docopt==0.6.2
docopt-ng==0.9.0
et_xmlfile 
executing==2.2.1
fonttools 
gitdb 
GitPython 
idna 
ipykernel==7.2.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2 
joblib 
jsonschema 
jsonschema-specifications 
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver 
lxml==6.0.4
lxml_html_clean==0.4.4
MarkupSafe 
matplotlib==3.10.8
matplotlib-inline==0.2.1
narwhals 
nest-asyncio==1.6.0
nltk 
numexpr 
numpy 
openpyxl 
packaging==26.0
pandas 
pandas-stubs==2.3.3.260113
parso==0.8.6
pexpect==4.9.0
pillow 
platformdirs==4.9.6
plotly 
prompt_toolkit==3.0.52
protobuf
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow 
pycountry==26.2.16
pycparser 
Pygments==2.20.0
pyparsing 
PySocks 
python-dateutil 
pytz 
pyzmq==27.1.0
referencing 
regex 
requests 
rpds-py 
seaborn 
setuptools==82.0.1
six 
smmap 
stack-data==0.6.3
streamlit 
sumy==0.12.0
tenacity 
textblob==0.20.0
toml 
tornado 
tqdm 
traitlets==5.14.3
types-pytz==2026.1.1.20260408
typing_extensions 
tzdata 
urllib3 
vaderSentiment==3.3.2
wcwidth==0.6.0
wordcloud 
